@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 700;
    background-color: #b3e9f3;
    
}

h1{
text-shadow: 3px 3px #b3e9f3;
background-color: #6590d1;
}

img{
    width: 500px;
    height: 500px;
}